<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>HEART CARE CENTER </title>
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<script src="/static/js/modernizr.js"></script>
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 header-logo">
					<br>
					<a href="index2.html"><img src="/static/img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-10">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
					        <li><a class="menu active" href="#home">Home</a></li>
					        <li><a class="menu" href="#about">About Project</a></li>
					        <li><a class="menu" href="#service">Data Prepare</a></li>
					        <li><a class="menu" href="#team">Model</a></li>
							<li><a class="menu active" href="#contact">Predict</a></li>
							<li><a class="menu" target='_blank' href="/compareAlgors">Compare</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->

	<section class="slider" id="home">
		<div class="container-fluid">
			<div class="row">
			    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="header-backup"></div>
			        <!-- Wrapper for slides -->
			        <div class="carousel-inner" role="listbox">
			            <div class="item active">
			            	<img src="/static/img/slide-three.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="/static/img/slide-one.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="/static/img/slide-three.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div>
			            </div>
			            <div class="item">
			            	<img src="/static/img/slide-four.jpg" alt="">
			                <div class="carousel-caption">
		               			<h1>providing</h1>
		               			<p>highquality service for men &amp; women</p>
		               			<button>learn more</button>
			                </div>
			            </div>
			        </div>
			        <!-- Controls -->
			        <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
			            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			            <span class="sr-only">Previous</span>
			        </a>
			        <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
			            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			            <span class="sr-only">Next</span>
			        </a>
			    </div>
			</div>
		</div>
	</section><!-- end of slider section -->

	<!-- about section -->
	<section class="about text-center" id="about">
		<div class="container">
			<div class="row">
				<h2>about project</h2>
				<h4>The main objectives of the project are</h4>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail clearfix">
						<div class="about-img">
							<img class="img-responsive" src="/static/img/item1.jpg" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>&#9829;</h1>
							</div>
							<h3>Heart Disease Prediction</h3>
							<p>Intelligent heart disease prediction system using data mining techniques. Using medical profiles such as age, sex, blood pressure and blood sugar it can predict the likelihood of patients getting a heart disease. It enables significant knowledge, e.g. patterns, relationships between medical factors related to heart disease, to be established</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="/static/img/item2.jpg" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>ML</h1>
							</div>

							<h3>Data Analytics & Machine Learning</h3>
							<p>Machine learning is a method of data analysis that automates analytical model building. It is a branch of artificial intelligence based on the idea that systems can learn from data, identify patterns and make decisions with minimal human intervention</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-about-detail">
						<div class="about-img">
							<img class="img-responsive" src="/static/img/item3.jpg" alt="">
						</div>
						<div class="about-details">
							<div class="pentagon-text">
								<h1>C</h1>
							</div>
							<h3>Classification Algorithms Comparision</h3>
							<p>1. Classifier: An algorithm that maps the input data to a specific category. 2. Classification model: A classification model tries to draw some conclusion from the input values given for training. It will predict the class labels/categories for the new data. 3. Feature: A feature is an individual measurable property of a phenomenon being observed. 4. Binary Classification: Classification task with two possible outcomes</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of about section -->


	<!-- service section starts here -->
	<section class="service text-center" id="service">
		<div class="container">
			<div class="row">
				<h2>Data Prepare</h2>
				<h4>the heart dataset is loaded into memory, basic analysis is done, and after preprocessing, train test split is done</h4>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="heart img-responsive" src="/static/img/service1.png" alt="">
							</div>
						</div>
						<a target='_blank' href='/loaddataset'><h3>Load Data Set</h3></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="brain img-responsive" src="/static/img/service2.png" alt="">
							</div>
						</div>
						<a  target='_blank' href='/dataAnalysis'><h3>Data Analysis</h3></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="knee img-responsive" src="/static/img/service3.png" alt="">
							</div>
						</div>
						<a  target='_blank' href='/dataPrepare'><h3>Data Preprocess</h3></a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service">
						<div class="single-service-img">
							<div class="service-img">
								<img class="bone img-responsive" src="/static/img/service4.png" alt="">
							</div>
						</div>
						<a  target='_blank' href='/splitData'><h3>Data Split</h3></a>
					</div>
				</div>
			</div>
			
		</div>
	</section><!-- end of service section -->




	<!-- team section -->
	<section class="team" id="team">
		<div class="container">
			<div class="row">
				<div class="team-heading text-center">
					<h2>Model Training</h2>
					<h4>Machine Learning has different classification algorithms. Among these classifiers are:</h4>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="/static/img/member1.jpg" alt="member-1">
					</div>
					<div class="person-detail">
					<a target='_blank' href='/knnAlgor'>
						<div class="arrow-bottom"></div>
						<h3>K-Nearest Neighbours</h3>
						<p>In pattern recognition, the k-nearest neighbors algorithm (k-NN) is a non-parametric method used for classification and regression.[1] In both cases, the input consists of the k closest training examples in the feature space.</p>
					</a>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
					<a target='_blank' href='/svmAlgor'>
						<div class="arrow-top"></div>
						<h3>Support Vector Machine</h3>
						<p>In machine learning, support-vector machines (SVMs, also support-vector networks[1]) are supervised learning models with associated learning algorithms that analyze data used for classification and regression analysis.</p>
					</a>
					</div>
					<div class="person">
						<img class="img-responsive" src="/static/img/member2.jpg" alt="member-2">
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="/static/img/member3.jpg" alt="member-3">
					</div>
					<div class="person-detail">
					<a target='_blank' href='/decAlgor'>
						<div class="arrow-bottom"></div>
						<h3>Decision Tree</h3>
						<p>Decision Trees are a class of very powerful Machine Learning model cable of achieving high accuracy in many tasks while being highly interpretable. What makes decision trees special in the realm of ML models is really their clarity of information representation. The “knowledge” learned by a decision tree through training is directly formulated into a hierarchical structure.</p>
					</a>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
					<a target='_blank' href='/graAlgor'>
						<div class="arrow-top"></div>
						<h3>Naive Bayes</h3>
						<p>In machine learning, naïve Bayes classifiers are a family of simple "probabilistic classifiers" based on applying Bayes' theorem with strong (naïve) independence assumptions between the features. They are among the simplest Bayesian network models. But they could be coupled with Kernel density estimation and achieve higher accuracy levels. </p>
					</a>
					</div>
					<div class="person">
						<img class="img-responsive" src="/static/img/member4.jpg" alt="member-4">
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person">
						<img class="img-responsive" src="/static/img/member5.jpg" alt="member-5">
					</div>
					<div class="person-detail">
					<a target='_blank' href='/ranAlgor'>
						<div class="arrow-bottom"></div>
						<h3>Random Forest</h3>
						<p>Random forests or random decision forests are an ensemble learning method for classification, regression and other tasks that operate by constructing a multitude of decision trees at training time and outputting the class that is the mode of the classes (classification) or mean prediction (regression) of the individual trees.</p>
					</a>
					</div>
				</div>
				<div class="col-md-2 single-member col-sm-4">
					<div class="person-detail">
					<a target='_blank' href='/logAlgor'>
						<div class="arrow-top"></div>
						<h3>Logistic Regression</h3>
						<p>In statistics, the logistic model (or logit model) is used to model the probability of a certain class or event existing such as pass/fail, win/lose, alive/dead or healthy/sick. This can be extended to model several classes of events such as determining whether an image contains a cat, dog, lion, etc.</p>
					</a>
					</div>
					<div class="person">
						<img class="img-responsive" src="/static/img/member6.jpg" alt="member-5">
					</div>
				</div>
			</div>
		</div>
	</section><!-- end of team section -->

	<!-- map section -->
	<div class="api-map" id="contact">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 map" id="map"></div>
			</div>
		</div>
	</div><!-- end of map section -->

	<!-- contact section starts here -->
	<section class="contact">
		<div class="container">
			<div class="row">
				<div class="contact-caption clearfix">
					<div class="contact-heading text-center">
						<h2>Predict</h2>
						<!--
col_names = ['age','sex','chest_pain','blood_pressure','serum_cholestoral','fasting_blood_sugar', 'electrocardiographic',
				 'max_heart_rate','induced_angina','ST_depression','slope','no_of_vessels','thal','diagnosis']
-->
					</div>
						<form class="form" action="/predict" method="GET">
					<div class="col-md-6 contact-form">
						<h3>Enter Parameters of a Patient</h3>
							<input class="name" type="text" name="age" placeholder="age">
							<input class="name" type="text" name="gender" placeholder="gender">
							<input class="name" type="text" name="chest_pain" placeholder="chest_pain">
							<input class="name" type="text" name="blood_pressure" placeholder="blood_pressure">
							<input class="name" type="text" name="serum_cholestoral" placeholder="serum_cholestoral">
							<input class="name" type="text" name="fasting_blood_sugar" placeholder="fasting_blood_sugar">
							<input class="name" type="text" name="electrocardiographic" placeholder="electrocardiographic">
					</div>
					<div class="col-md-6 contact-form">
						<h3>..
						</h3>
							<input class="name" type="text" name="max_heart_rate" placeholder="max_heart_rate">
							<input class="name" type="text" name="induced_angina" placeholder="induced_angina">
							<input class="name" type="text" name="ST_depression" placeholder="ST_depression">
							<input class="name" type="text" name="slope" placeholder="slope">
							<input class="name" type="text" name="no_of_vessels" placeholder="no_of_vessels">
							<input class="name" type="text" name="thal" placeholder="thal">
							
<!--
63,1,1,145,233,1,2,150,0,2.3,3,0,6,0 y 
*67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
56,1,2,120,236,0,0,178,0,0.8,1,0,3,0
62,0,4,140,268,0,2,160,0,3.6,3,2,3,3
57,0,4,120,354,0,0,163,1,0.6,1,0,3,0
63,1,4,130,254,0,2,147,0,1.4,2,1,7,2
53,1,4,140,203,1,2,155,1,3.1,3,0,7,1
57,1,4,140,192,0,0,148,0,0.4,2,0,6,0
56,0,2,140,294,0,2,153,0,1.3,2,0,3,0
56,1,3,130,256,1,2,142,1,0.6,2,1,6,2
44,1,2,120,263,0,0,173,0,0,1,0,7,0
52,1,3,172,199,1,0,162,0,0.5,1,0,7,0
57,1,3,150,168,0,0,174,0,1.6,1,0,3,0
48,1,2,110,229,0,0,168,0,1,3,0,7,1
54,1,4,140,239,0,0,160,0,1.2,1,0,3,0
48,0,3,130,275,0,0,139,0,0.2,1,0,3,0

-->
						<input type='button' 
							onclick=" var data=[67,1,4,160,286,0,2,108,1,1.5,2,3,3]; 
								showvalues(data); "
							value='sample data1' style='width:25%' /> 
						<input type='button' 
							onclick=" var data=[1,2,3,4,5,6,7,8,9,0,1,2,3]; 
								showvalues(data); "
							value='sample data2' style='width:25%' /> 
<script>
	function showvalues(data)
	{	var i=0; $('input').each(   function(){   if(i<13) {   $(this).val(data[i++]);  }    }   );	  }
</script>
							<input class="submit-btn" type="submit" value="SUBMIT">
					</div>
						</form>
				</div>
			</div>
		</div>
	</section><!-- end of contact section -->

	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 footer-para">
					<p>&copy; All right reserved</p>
				</div>
				<div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div>
			</div>
		</div>
	</footer>

	<!-- script tags
	============================================================= -->
	<script src="/static/js/jquery-2.1.1.js"></script>
	
	
	<script src="/static/js/smoothscroll.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/custom.js"></script>
</body>
</html>